<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1>New Trip</h1>

      <%= render 'form', trip: @trip %>
      <br>
      <%= link_to 'Back', trips_path, class:"btn btn-info"%>
    </div>
  </div>
</div>
