<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="landing_top mt-0"  >
    <div class="banner">
      <%# <div class="sign in d-flex justify-content-end m-3">
        <% if user_signed_in? %>
          <%# <%= render 'shared/navbar_home' %>
        <%# else %>
          <%#= link_to "Sign in", new_user_session_path, class: "btn-sign-in mt-3" %>
        <%# end %>
      </div>
    </div>
</div>
