.navbar-lewagon {
  justify-content: space-between;
  background: #1C658C;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.dropdown-menu {
  background: white !important;
  border-radius: 10px;
  border-color: #1C658C;
}

.dropdown-item{
  color: #1C658C !important;
  &:hover {
    background: #1C658C !important; opacity:0.5;
    color: white !important;
    border-radius: 6px;
  }
}
